.Firstpicture {
    margin-left: 25px;
    margin-right: 25px;

}

.nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;

}

.nav ul li {
   color:white;text-align:center;font-size:30;"
    display: inline;
    list-style:none;
}
